/**
 * Mitrais theme for reveal.js.
 *
 * By kustian@mitrais.com
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #6200C0;
$headingColor: #6200C0;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.main .backgrounds{
  background-color: #6200C0;
}
.main .footer{
  display: none;
}
.reveal section ul{
  display: table;
}
.main section{
  color: #fff;
  top: 344px !important;
}
.main .reveal h1, .main .reveal h2, .main .reveal h3, .main .reveal h4, .main .reveal h5, .main .reveal h6{
  color: #fff;
}
.reveal{
  color: #6200C0;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  color: #6200C0;
}
.reveal section img{
  border: none;
  box-shadow: none;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  width: 100%;
  background: #6200C0;
  color: #fff;}

.footer .left, .footer .right {
  width: 50%;
  float: left; }